{% extends "menu.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='card_finder.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='filter_card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pagination_card.css') }}">
</head>

<body>
    {% include "filters.html" %}

    <section>
        {% include "pagination.html" with context %}
    </section>

    <div class="grid-container">
        {% for card in cards %}
        <div class="card">
            <a href="{{ url_for('cards.card_detail', card_id=card.id) }}">
                <img src="{{ card.image }}" alt="Carta">
            </a>
            <label> {{ card.name }} </label>
            <label> {{ card.number }} </label>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
