<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            {% for item in menu %}
                <li>
                    <a href="{{ item.url }}" type="button">{{ item.name }}</a>
                    {% if item.submenu %}
                        <ul>
                            {% for subitem in item.submenu %}
                                <li><a href="{{ subitem.url }}" type="button">{{ subitem.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div>
        <h1>{{ title }}</h1>
        <p>Este es el contenido de la página {{ title }}.</p>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    {% block content %}{% endblock %}
</body>
</html>